---
import BaseHead from "~/components/BaseHead.astro";
import Map from "~/components/Map.astro";
import { localize } from "~/util";

import logo from "~/images/can-logo.svg";
import insta from "~/images/fa-insta.svg";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "fr" } }];
}

const { lang } = Astro.params;

const l = await localize({ entry: "index", lang });
---

<html lang={lang}>
  <head>
    <BaseHead title="COVID Action Now!" description={l("description")} />
  </head>

  <body>
    <div class="bg-gradient-to-b from-[#fec3fe] to-[#c3eaff] px-2 py-3">
      <header class="mx-auto flex max-w-screen-xl items-center font-titles">
        <a class="flex items-center gap-4 text-2xl" href={`/${lang}`}>
          <img src={logo.src} class="size-12" />
          <div>COVID ACTION <span class="font-bold">NOW!</span></div>
        </a>
        <div class="ml-auto flex items-center gap-4 text-xl">
          <a
            href="https://www.instagram.com/covid_action_now/"
            target="_blank"
            rel="noreferrer"
            class="flex-shrink-0"
          >
            <img src={insta.src} title="Instagram" class="size-5" />
          </a>
          <a href="#about" class="hidden md:block">{l("about")}</a>
          <a href="#map" class="hidden md:block">{l("map")}</a>
          <a href="#contact" class="hidden md:block">{l("contact")}</a>
          {
            lang === "en" ? (
              <a href="/fr">Français</a>
            ) : (
              <a href="/en">English</a>
            )
          }
        </div>
      </header>
      <div
        class="mx-auto max-w-screen-lg text-balance py-12 text-center text-5xl"
        set:html={l("heroText")}
      />
    </div>

    <div class="bg-green-100 px-2 py-12">
      <div class="mx-auto max-w-screen-md">
        <h1
          class="font-titles text-3xl font-bold"
          set:html={l("section1title")}
        />
        <div
          class="with-link-underline mt-4 text-lg"
          set:html={l("section1body")}
        />
      </div>
    </div>

    <Map />

    <div class="bg-red-100 px-2 py-12">
      <div class="mx-auto max-w-screen-md">
        <h1 class="text-2xl font-bold" set:html={l("section2title")} />
        <div
          class="with-link-underline mt-4 text-lg"
          set:html={l("section2body")}
        />
      </div>
    </div>
  </body>
</html>
